<div class="col-md-6 col-md-offset-3 inner-section">
	<p id="notice"><%= notice %></p>

	<h1>Thank you!</h1>
	<h3><%= @reply.form.name %></h3>
	<h4>Learn More About <%= link_to "TyForm" , root_path %></h4>
	<% link_to 'Edit', edit_reply_path(@reply) %> |
	<% link_to 'Back', replies_path %>
</div>
