<div class="col-md-6 col-md-offset-3 inner-section">
	<h1>About TyForm</h1>
	<hr>
	<h4>It is a Simple, Easy, Dynamic Form Builder for you.</h4>
	<p>
		Just sign in and build your form for Sruvey, Regist, Market research, etc.
	</p>
	<p>
		And share to your friend , Enjoy!
	</p>
	<p>
		<%= link_to "Fork me on Github" , "https://github.com/viflin/TyForm" %> |
		<%= link_to "Vinn" , "https://vinn.tw" %>
	</p>
</div>