<%= stylesheet_link_tag params[:controller] %>

<div class="intro-header">
    <div class="intro-message">
        <h1>TyForm</h1>
        <h3>Eesy, Simple to build a form for everyone.</h3>
        <hr class="intro-divider">
        <ul class="list-inline intro-social-buttons">
            <li>
                <a href=<%= new_form_path %> class="btn btn-success btn-lg"><i class="fa fa-file-text fa-fw"></i> <span class="network-name">Build a Form!</span></a>
            </li>
        </ul>
    </div>
    <!-- /.container -->
</div>
