<fieldset class="form-group option-section">
	
	<div class="input-group">
	 		<span class="input-group-addon" id="basic-addon1">Option</span>
			<%= f.text_field :content, placeholder: "Option_name" ,class:"form-control"%>
			<span class="input-group-btn">
				<%= f.hidden_field :_destroy%>
       	<a href="#" role="button" class="remove_option_fields btn btn-default">
							<span aria-hidden="true">&times;</span>
				</a>
      </span>
	</div>
</fieldset>