body{
	background-color: #00777F;
}

.inner-section{
	padding: 15px;
	margin-top: 30px;
	border-width: 5px;
	border-radius: 5px;
	border-style: solid;
	border-color: #00a0ab;
	background-color: #fff;
}

.container {
	margin-top: 60px;
}  

.field {
	width: 100%;
}

.option-section {
	width: 80%;
	margin-left: 10%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.add_option_fields{
	margin-left: 10%;
}

.back-section{
	width: 100%;
	margin-top: 10px;
}

#option-dash {
	margin-top: 5px;
}

.submit-form{
	width: 100%;
	margin: 20px 0;

}
